$background: $background; // Example background color
$foreground: $foreground; // Example foreground color
$secondary: $color2; // Example selected background color
$tertiary: $color3; // Example selected foreground color
$grey: grey; // Example selected foreground color

$red: rgb(169, 69, 69); /* Muted red-orange, with less opacity */
$green: rgb(153, 255, 153); /* Softer pastel green */
$blue: rgb(102, 153, 255); /* Lighter desaturated blue */
$orange: rgb(255, 139, 23); /* Muted peachy orange */

$spotify: mix($background, rgb(30, 215, 95), $phi-percentage);
$spotify-background: rgba($spotify, $phi-percentage);
$spotify-foreground: mix($foreground, $spotify, $phi-percentage);

$blue: mix($background, $blue, $phi-percentage);
$blue-background: rgba($blue, $phi-percentage);
$orange: mix($background, $orange, $phi-percentage);
$orange-background: rgba($orange, $phi-percentage);
$red: mix($background, $red, $phi-percentage);
$green: mix($background, $green, $phi-percentage);

$secondary: mix($secondary, $foreground, $phi-percentage);

$background-mix: mix($background, $color1, $phi-percentage);
$background-transparent: rgba($background-mix, $OPACITY);

$background-secondary: mix($background, $secondary, $phi-percentage);
$foreground-secondary: mix($foreground, $secondary, $phi-percentage);

$background-semi-transparent: rgba($background, $OPACITY + 0.2);

$foreground-tertiary: mix($foreground, $tertiary, $phi-percentage);
$background-tertiary: mix($background, $tertiary, $phi-percentage);
