// Define the theme variables

$BOX-SHADOW: 0px 5px 10px rgba(0, 0, 0, 0.4);

@mixin module {
  background: $background-transparent;
  color: $foreground;

  font-size: $FONT-SIZE;
  font-weight: 500;

  text-shadow: none;
  border: none;
  box-shadow: none;

  min-height: 1px;
  border-radius: 10px;
  margin: 0;
  padding: $SCALE / 2 $SCALE / 1.5;

  .image {
    border-radius: 10px;
  }

  &,
  * {
    transition: all 0.2s;
  }
}

@mixin button-checked {
  background: $foreground-secondary;
  color: $background;
}

@mixin button {
  @include module;
  font-family: "JetBrainsMono NFP";
  color: $foreground;
  border: none;
  min-width: 25px;

  background: $background-semi-transparent;

  &:hover {
    background: $background;
    border-radius: 10px;
    transform: scale(1.02) translateY(-2.5px); /* Expand height by 10% */
  }
  &:active {
    transform: scale(1) translateY(0px);
  }
  &:checked {
    @include button-checked;
  }
}

button,
.button {
  @include button;
}

menubutton {
  // background: transparent;
  // font-size: 1em;
  button {
    background-color: black;
  }
}

.toggle {
  border: none;
  padding: 0px;
  @include button;
}

.dialog {
  @include module;
}

filechooserbutton * {
  min-width: 0px;
  min-height: 0px;
  padding: 0px;
  margin: 0px;
}

.danger {
  &:hover,
  &:checked {
    background: $red;
  }
}

.success {
  background: $green;
  color: $foreground;
  &:hover,
  &:checked {
    background: rgba(
      $green,
      $phi-min
    ); // Pre-calculated hover and checked state
  }
}

.secondary {
  color: $secondary;
}

entry {
  all: unset;
  padding: $SCALE / $phi;
  border-radius: 10px;
  color: $foreground;
  background: $background-semi-transparent;
  border: unset;
  &:focus {
    box-shadow: unset;
  }
}

separator {
  border-top: 1px solid $tertiary;
}

switch {
  background-color: $background-secondary;
  margin: 0;
  padding: 5px;
  slider {
    background-color: $background;
  }

  &:checked {
    background-color: $foreground-secondary;
  }

  &:checked slider {
    background-color: white;
  }
}

scale {
  padding: 0px;

  trough {
    background: $background-transparent;
    color: black;
    min-height: 10px;
    padding: 0px;

    slider {
      background: transparent;
      min-height: 0px;
      min-width: 0px;
      margin: 0px;
    }

    highlight {
      background: $secondary;
    }
  }

  &:hover highlight {
    background: $foreground;
  }
}

.custom-revealer {
  @include button;

  .slider {
    margin: 0px 5px;
  }

  .trigger {
    // @include button;
    padding: 0px 5px;
  }
}

scrollable > * {
  border-width: 0;
}

scrollbar {
  border-radius: 8px;
  background: transparent;
  min-width: 8px; /* vertical */
  min-height: 8px; /* horizontal */

  trough {
    color: $foreground;
  }
}

popover {
  &.popover-open {
    animation: opacity-in 0.4s ease-out;
  }
  arrow {
    background: $background-secondary;
  }
  contents {
    padding: 0px;
    background: transparent;
    box-shadow: unset;
    border: unset;
    * {
      transition: all 0.2s;
    }
    button {
      @include button;
    }
  }
}
.drag {
  &:hover {
    animation: grab-rotate infinite 0.2s ease-out;
  }

  &:drop(active) {
    background-color: $tertiary;
    animation: grab-rotate infinite 0.2s ease-out;
  }

  @keyframes grab-rotate {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

scrolledwindow {
  viewport {
    border-radius: 10px;
  }
}

flowbox > flowboxchild:first-child {
  background-color: transparent; /* or your desired default color */
  background-image: none; /* important if the theme uses background images for highlights */
}

.circular-progress {
  color: $secondary;
  &:hover {
    transform: scale(1.2);
  }
}
