@import "constants.scss";
@import "colors.scss";

@import "animations.scss";
@import "lib.scss";

@import "bar/bar.scss";
@import "bar/workspaces.scss";
@import "bar/information.scss";
@import "bar/utilities.scss";

@import "panel/panel.scss";

@import "panel/right-panel/right-panel.scss";
@import "panel/right-panel/components/script-timer.scss";
@import "panel/right-panel/components/notification.scss";
@import "panel/right-panel/components/notification-popups.scss";

@import "panel/left-panel/left-panel.scss";
@import "panel/left-panel/components/chat-bot.scss";
@import "panel/left-panel/components/booru.scss";
@import "panel/left-panel/components/custom-scripts.scss";
@import "panel/left-panel/components/manga.scss";
@import "panel/left-panel/components/settings.scss";
@import "panel/left-panel/components/keybinds.scss";

@import "widgets/app-launcher.scss";
@import "widgets/player.scss";
@import "widgets/progress.scss";
@import "widgets/calendar.scss";
@import "widgets/wallpaper-switcher.scss";
@import "widgets/user-panel.scss";
@import "widgets/notification-history.scss";
@import "widgets/osd.scss";
@import "widgets/crypto.scss";
@import "widgets/crypto-widget.scss";
@import "widgets/cava.scss";
@import "widgets/weather.scss";
@import "widgets/bandwidth.scss";
@import "widgets/booru-image.scss";
@import "widgets/keybind.scss";
@import "widgets/keystroke-visualizer.scss";

window {
  font-family: "JetBrainsMono";
  background-color: transparent;
}
