.information {
  popover {
    background: transparent;
  }

  .mpris {
    .mpris-icon {
      border-radius: 50%;
      animation: spin 10s linear infinite;

      &.paused {
        animation-play-state: paused;
      }

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  .clock {
    .revealer {
      padding-right: 5px;
    }
  }

  .client-title {
    @include module;
  }
}
