.notification {
  @include module;
  margin: 0px;
  padding: 5px;
  // transition: opacity 0.5s ease-out; /* Adjust timing */
  min-width: 0px;
  min-height: 0px;

  &:hover {
    background-color: $background-semi-transparent;
    .top-bar {
      // background-color: $background-secondary;
      .copy,
      .lock,
      .close,
      .expand {
        opacity: 1;
      }
    }
  }

  .top-bar {
    padding: 5px;

    border-radius: 5px;
    background: $background-transparent;

    .circular-progress-box {
      padding-right: 5px;
    }

    .app-name {
      font-size: 0.9em;
      color: $foreground;
    }

    .lock,
    .copy,
    .close,
    .expand {
      padding: 0px 5px;
      opacity: 0;
      background-color: transparent;

      &:hover {
        background-color: $background-semi-transparent;
      }

      // &.close {
      //   @extend .danger;
      //   &:not(:hover) {
      //     background: transparent;
      //   }
      // }
    }

    .time {
      font-size: 0.8em;
      color: $foreground-secondary;
    }
  }

  // &.Spotify .app-name {
  //   color: $spotify-foreground;
  // }
  .content {
    padding: 5px;
    .image,
    .icon {
      -gtk-icon-size: 25px;
      font-size: 30px;
      min-width: 30px;
      min-height: 30px;
      color: $secondary;
    }

    .title {
      color: $secondary;
    }

    .body {
      color: $foreground-secondary;
      font-size: 0.9em;
    }
  }
  .actions {
    button {
      background-color: transparent;

      &:hover {
        background-color: $background-secondary;
      }

      &.delete {
        @extend .danger;
      }
    }
  }
}

// animation keyframes
@keyframes background-pop {
  0% {
    opacity: 0;
    min-width: 50px;
  }
  50% {
    background-color: $foreground;
    color: $background;
  }
  100% {
  }
}
