.script-timer {
  // Uses lib.scss module base styles via .module class
  @include module;
  padding: 0.5em;

  .header {
    .title {
      font-weight: bold;
      font-size: 14px;
    }
  }

  .form-container {
    @include module;
    background: $background-semi-transparent;

    .form-label {
      font-size: 1em;
      font-weight: bold;
      color: $foreground-secondary;
      margin-bottom: 2px;
    }

    .suggestions {
      background: $background-semi-transparent;
      border-radius: 8px;
      margin-top: 4px;

      .suggestion {
      }
    }

    .form-actions {
      margin-top: 8px;
    }
  }

  .task-eventbox:hover .task-header {
    background-color: $background-secondary;
  }

  .task {
    @include module;
    background: $background-transparent;

    border-radius: 4px;
    border-left: 3px solid $tertiary;
    padding: 0.5em;

    &.active {
      border-left: 3px solid $green;
    }
    &.inactive {
      border-left: 3px solid $red;
    }

    .task-header {
      padding-left: 5px;
      border-radius: 5px;
      background: $background-transparent;
    }

    .task-info {
      .task-name {
        font-weight: bold;
        color: $foreground;
      }
      .task-schedule {
        font-size: 1em;
        font-style: italic;
      }
      .task-type {
        font-size: 1em;
        color: $secondary;
        font-weight: bold;
        background: rgba($secondary, 0.2);
        padding: 0px 5px;
        border-radius: 4px;
      }
    }

    .task-command {
      color: $foreground-secondary;
    }

    .task-actions {
      button {
        border-radius: 0px;
        padding: 0px 5px;
      }
      button:first-child {
        border-radius: 5px 0px 0px 5px;
      }
      button:last-child {
        border-radius: 0px 5px 5px 0px;
      }
      button:only-child {
        border-radius: 5px;
      }
    }
  }
}
