.app-launcher {
  @include module;

  min-width: 64em;

  padding-top: 10px;
  padding-bottom: 10px;

  .help {
    popover {
      @include module;
    }
  }
  .input {
    padding-right: 10px;
    padding-left: 10px;

    entry {
      padding: 10px;
      background-color: transparent;
    }
  }

  .results {
    padding-right: 10px;
    padding-left: 10px;

    button {
      animation: opacity-in 0.4s ease-in;
      .description {
        color: $foreground-tertiary;
        font-size: 0.9em;
      }
      .argument {
        color: $foreground-secondary;
      }
      &:focus {
        @include button-checked;
        .argument {
          color: $background-secondary;
        }
        .description {
          color: $background-tertiary;
        }
      }
    }
  }

  button {
    padding: 1em;
    background-color: $background-transparent;
    &:hover {
      background-color: $background-semi-transparent;
    }
  }
}
