.bandwidth {
  .bandwidth-button {
    .packet {
      // min-width: 25px;
    }
  }

  .bandwidth-popover {
    min-width: 400px;
  }

  .bandwidth-heading {
    @include module;
    font-weight: bold;
    font-size: 1.25em;
  }

  .bandwidth-section {
    color: $foreground;
    border-radius: 10px;
    background: $background-transparent;
    padding: 20px;
    &:hover {
      background-color: $background-secondary;
    }
  }

  .bandwidth-subheading {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 8px;
  }

  .bandwidth-label {
    font-size: 1em;
  }

  .bandwidth-value {
    font-size: 0.9em;
    font-weight: bold;
  }
}
