.booru-image {
  @include module;
  padding: 0px;

  $section-count: 20;
  $section-delay: 50ms;

  .tag,
  .actions .section {
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
  }

  &:hover {
    background-color: $background-secondary;
    .image {
      opacity: 0.8;
    }

    @for $i from 1 through $section-count {
      .tags > :nth-child(#{$i}) .tag,
      .section:nth-child(#{$i}) {
        opacity: 1;
        transition-delay: $section-delay * ($i - 1), 0s;
      }
    }
  }

  &:not(:hover) {
    @for $i from 1 through $section-count {
      .tags > :nth-child(#{$i}) .tag,
      .section:nth-child(#{$i}) {
        transition-delay: $section-delay * ($i - 1), 0s;
        opacity: 0;
      }
    }
  }

  .tags {
    padding: 10px;
    .tag {
      @include button;
      box-shadow: $BOX-SHADOW;
    }
  }

  .actions {
    padding: 10px;

    border-radius: 8px;

    .section {
      border-radius: 10px;
      background: $background;
      box-shadow: $BOX-SHADOW;
      entry {
        border-radius: 0px;
        padding: 0px;
        margin: 0px;
      }

      button {
        border-radius: 0px;
        &:first-child {
          border-radius: 10px 0px 0px 10px;
        }
        &:last-child {
          border-radius: 0px 10px 10px 0px;
        }
      }
    }
  }
}
