.notification-history {
  border-radius: 10px;
  background: $background-transparent;
  .notification-stack {
    @include module;
    background: transparent;
    padding: 5px;

    .stack-scrolled {
      transition: min-height 0.6s ease-in-out;
      &.expanded {
        min-height: 300px;
      }
      &.collapsed {
        min-height: 100px;
      }
    }

    &:hover {
      .stack-header {
        .actions button {
          opacity: 1;
        }
      }
    }

    .stack-header {
      padding: 5px;
      .stack-title {
        // font-weight: bold;
        padding-left: 5px;
        font-size: 0.9em;
      }
      .actions button {
        // padding: 0px 10px;
        opacity: 0;

        &:not(:hover) {
          background: transparent;
        }
      }
    }
  }
}
