.player {
  @include module;
  padding: 0px;

  .img {
    border-radius: 10px;
  }

  .bottom-bar {
    border-radius: 10px;
    padding: 10px;
    background: $background-semi-transparent;
    opacity: 0.9;
    margin: 0px 5px 5px 5px;

    box-shadow: $BOX-SHADOW;

    &:hover {
      background-color: $background-secondary;
      margin-bottom: 10px;
      opacity: 1;
    }

    .title {
      color: $secondary;
      font-weight: 700;
    }

    .artist {
      font-size: 0.9em;
      font-weight: 400;
    }

    .time {
      font-size: 0.9em;
      font-weight: 400;
    }

    .cover-art-spinner {
      border-radius: 50%;
      animation: spin 10s linear infinite;

      &.paused {
        animation-play-state: paused;
      }

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  button {
    background: transparent;
    &:hover {
      background: $background;
    }
  }
}
