.wallpaper-switcher {
  @include module;

  .wallpaper {
    border-radius: 10px;
  }

  .wallpaper-button {
    background: transparent;
    min-height: 200px;
    min-width: 100px;
    border: none;
    padding: 0px;

    animation: opacity-in 0.5s ease-out;

    &:hover,
    &.focused {
      min-width: 300px;
      box-shadow: 0px 0px 20px $background-secondary;
    }

    &.preview {
      min-height: 100px;
      min-width: 75px;

      &:hover {
        min-width: 150px;
      }
    }
  }

  .delete-wallpaper {
    @extend .danger;
    margin: 5px;
    padding: 0px;
  }

  .actions {
    .color-scheme {
      @include button;
    }

    .selected-workspace {
      @include button;

      &.ping {
        animation: ping 0.2s ease-out;

        @keyframes ping {
          0% {
            background-color: $foreground;
          }

          50% {}

          100% {}
        }
      }
    }

    .targets {
      button {
        border-radius: 0px;
      }

      button:first-child {
        border-radius: 50px 0px 0px 50px;
      }

      button:only-child {
        border-radius: 0px;
      }

      button:last-child {
        border-radius: 0px 50px 50px 0px;
      }
    }
  }

  .no-wallpaper {
    background-color: $background;
  }
}