.weather {
  .weather-popover {
    min-width: 31.25em;
  }

  .weather-heading {
    @include module;
    font-weight: bold;
    font-size: 1em;
  }

  .weather-section {
    // @include module;
    color: $foreground;
    border-radius: 0.625em;
    background: $background-transparent;
    padding: 1.25em;
    &:hover {
      background-color: $background-secondary;
    }
  }

  .weather-subheading {
    font-weight: bold;
    font-size: 0.875em;
    margin-top: 0.5em;
  }

  .weather-icon-large {
    font-size: 3em;
  }

  .weather-temp-large {
    font-size: 2em;
    font-weight: bold;
  }

  .weather-description {
    font-size: 0.875em;
  }

  .weather-feels-like {
    font-size: 0.75em;
  }

  // .weather-detail label:first-child {
  // }

  .forecast-label {
    font-size: 0.6875em;
  }

  .forecast-value {
    font-size: 0.8125em;
    font-weight: bold;
  }

  .weather-link {
    font-size: 0.75em;

    text-decoration: underline;
    margin-top: 0.5em;
  }

  .weather-link:hover {
    color: $blue;
  }
}
