.left-panel {
  @extend .panel;
  margin-left: 5px;

  .main-content > * {
    animation: opacity-in 0.6s ease-out;
  }

  .bottom-eventbox:hover .bottom-bar {
    background-color: $background-secondary;
  }
}
