.panel {
  @include module;
  padding: 0px;

  .panel-actions {
    background: $background;
    padding: 5px;
    border-radius: 10px;

    button,
    .icon {
      border-radius: 0px;
      padding: $SCALE $SCALE - 10;
    }

    .widget-actions,
    .window-actions {
      button {
        border-radius: 5px;
      }
      button:first-child {
        border-radius: 10px 10px 5px 5px;
      }

      button:last-child {
        border-radius: 5px 5px 10px 10px;
      }
    }
  }

  .main-content {
    animation: opacity-in 0.6s ease-out;

    .tab-list {
      background: $background;
      padding: 5px;
      border-radius: 10px;
    }
  }
}
