.booru {
  padding: 5px;
  .images {
    .image-button {
      > button {
        padding: 0px;
        animation: opacity-in 0.6s ease-out;
      }
    }
  }

  .bottom {
    .actions {
      @include module;
    }
    .bottom-bar {
      @include module;
      background: $background-semi-transparent;
      margin-top: 5px;

      .input {
        @include module;
        background: $background-semi-transparent;
        entry {
          background-color: transparent;
        }

        .clear {
          @extend .danger;
        }
        .tags {
          * {
            font-size: 0.95em;
          }

          .separator {
            border-top: 1px solid $secondary;
          }

          button.tag.rating {
            &:hover {
              background: $blue;
            }
          }
          button.tag.enabled {
            &:hover {
              background: $red;
            }
          }
          button.tag.fetched {
            &:hover {
              background: $green;
            }
          }
        }
      }
    }
  }
}
