.chat-bot {
  padding: 5px;
  > .info {
    @include module;
    padding: 0.625em 0.3125em;
    color: $secondary;
  }

  .messages {
    .message:hover {
      background-color: $background-secondary;
    }
    .message {
      @include module;
      padding: 0.3125em;

      &.last {
        animation: opacityIn 0.5s ease-out;
      }

      .image {
        background-position: center;
        background-size: cover;
        border-radius: 0.625em;
      }

      &.user {
        border-radius: 1.25em;
      }

      .body {
        padding: 0.625em;

        .code-block {
          background: $background-transparent;
          border-radius: 0.625em;
          padding: 0.625em;
          color: $secondary;

          &:hover {
            background: $background-transparent;
            box-shadow: 0em 0em 0.625em 0.125em $secondary;
          }
        }
      }
      @keyframes opacityIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  .bottom-bar {
    border-radius: 3.125em;
    background: $background-semi-transparent;
    padding: 0.3125em 0.9375em;

    entry {
      border-radius: 3.125em;
      background: transparent;
      border: none;
    }

    .clear {
      @extend .danger;
      padding: 0.3125em;
    }

    .image-generation {
      @include button;
      padding: 0.3125em 0.625em;
      border-radius: 1.25em;
    }
  }
}
