.keybinds {
  animation: opacity-in 0.6s ease forwards;
  margin: 5px;

  .keybind-category {
    @include module;
    box-shadow: $BOX-SHADOW;
    &:hover {
      background: $background-semi-transparent;
    }

    .keybind-category-title {
      font-size: 1.2em;
      font-weight: bold;
      margin: 5px;
    }
    .keybind-box {
      padding: 5px;
    }
  }
}
