.manga-viewer {
  padding: 5px;
  .manga-item {
    @include module;
    padding: 0em;

    .manga-info {
      padding: 0.3125em;

      .title {
        font-size: 1.2em;
        font-weight: bold;
      }
      .tags {
        font-size: 0.9em;
      }
    }
  }
  .bottom {
    .bottom-bar {
      background: $background-semi-transparent;

      @include module;
      margin-top: 0.625em;
      padding: 0.3125em;
    }
  }
}
