.settings {
  padding: 5px;
  .category {
    @include module;
    padding: 0.625em;
    box-shadow: $BOX-SHADOW;

    > label {
      font-weight: bold;
      font-size: 1.5em;
    }

    &:hover {
      background: $background-semi-transparent;
    }
  }
}
